{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>
    {% for program in programs %}
        {# <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.synopsis }}</p>
            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
        </div> #}
<div class="d-inline-flex p-2">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ loop.index }} / {{ program.title }}</h5>
    <h6 class="card-title">Catégorie : {{ program.category.name }}</h6>
    <p class="card-text">{{ program.synopsis }}</p>
    <a href="{{ path("program_show", { slug: program.slug }) }}" class="btn btn-primary">Voir la fiche</a>
  </div>
</div>
</div>

{# {{ app.session.get('total') }} #}

    {% else %}
        Aucune série trouvée.
    {% endfor %}

<br>
    <a href="{{ path('program_new') }}">
        Ajouter une série
    </a>

    <br>

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}