<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_index') }}">Home</a> <li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('program_index') }}">Program</a> <li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_season_index') }}">Season</a> <li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_episode_index') }}">Episode</a> <li>
          <li class="nav-item"> 
         <a class="nav-link active" aria-current="page" href="{{ path('category_index') }}">Category</a> <li>
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_actor_index') }}">Actor</a> <li>
          {% if app.user %}
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}"> Se déconnecter "{{ app.user.email }}" </a><li>
{% else %}
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}"> Se connecter</a><li>
{% endif %}
      </ul>
    </div>
  </div>
</nav>